<div id="<%= dom_id request %>">
  <p>
    <strong>Weight:</strong>
    <%= request.weight %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= request.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= request.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= request.height %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= request.distance %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= request.price %>
  </p>

  <p>
    <strong>Point of departure:</strong>
    <%= request.point_of_departure %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= request.destination %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= request.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= request.surname %>
  </p>

  <p>
    <strong>Patronymic:</strong>
    <%= request.patronymic %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= request.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= request.email %>
  </p>

</div>
